<div class="row">
  <div class="col-3" style="margin-top: 2%;">
    <h2>Filters</h2>
    <div class="form-group" style="margin-top: 4%;">
      <label>Direction: </label>
      <input type="text" [(ngModel)]="directionFilter" name="username" id="direction" class="form-control" placeholder="Amsterdam">
    </div>
    <div class="form-group" style="margin-top: 4%;">
      <label>Train Category: </label>
      <input type="text" [(ngModel)]="trainCategoryFilter" name="departure" id="departure" class="form-control" placeholder="Intercity">
    </div>
    <div class="form-group" style="margin-top: 4%;float: right;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filterDepartures()">Filter</button>
    </div>
    <div class="form-group" style="margin-top: 4%;float: left;">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="clearFilter()">Clear</button>
    </div>
  </div>
  <div class="col-9">
    <div class="container tableFixHead" style="max-height: 400px; overflow-y: scroll;">
      <span></span>
      <table>
        <thead>
          <tr>
            <th (click)="sortOnTrack()" style="cursor:pointer;" scope="col">Planned Track </th>
            <th (click)="sortOnDirection()" style="cursor:pointer;" scope="col">Direction</th>
            <th (click)="sortOnCategory()" style="cursor:pointer;" scope="col">Train Category</th>
            <th (click)="sortOnTime()" style="cursor:pointer;" scope="col">Planned Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let departure of departuresFiltered">
            <th>{{ departure.plannedTrack}}</th>
            <td>{{ departure.direction}}</td>
            <td>{{ departure.trainCategory}}</td>
            <td>{{ departure.plannedDateTime | date:"hh:mm:ss a" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>